mixin portfolioCarousel
  .portfolioCarousel__slider
    .swiper-container.portfolioCarousel-container
      .swiper-wrapper.portfolioCarousel-wrapper
        .swiper-slide.portfolioCarousel-slide
          .portfolioCarousel__itemOuter
            a.portfolioCarousel__item(href="assets/img/portfolio/01.jpg" data-fancybox='group' data-caption='')
              img(src="assets/img/portfolio/01.jpg", alt="")
        .swiper-slide.portfolioCarousel-slide
          .portfolioCarousel__itemOuter
            a.portfolioCarousel__item(href="assets/img/portfolio/02.jpg" data-fancybox='group' data-caption='')
              img(src="assets/img/portfolio/02.jpg", alt="")
        .swiper-slide.portfolioCarousel-slide
          .portfolioCarousel__itemOuter
            a.portfolioCarousel__item(href="assets/img/portfolio/03.jpg" data-fancybox='group' data-caption='')
              img(src="assets/img/portfolio/03.jpg", alt="")
        
          
    .portfolioCarousel__left
      i.icon-arr-left1
    .portfolioCarousel__right
      i.icon-arr-right1