@media only screen and (max-width: 1280px) {
  .p1280 {
    padding-left: 10px;
    padding-right: 10px;
  }
  .age {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media only screen and (max-width: 1140px) {
}

@media only screen and (max-width: 1080px) {
}

@media only screen and (max-width: 1024px) {
}

@media only screen and (max-width: 920px) {
}

@media only screen and (max-width: 800px) {
}

@media only screen and (max-width: 768px) {
  .slogan__rowTop span {
    font-size: 3rem;
  }
  .slogan__row span {
    font-size: 2.5rem;
  }
  .logo1 {
    max-width: 170px;
  }
  .age img {
    width: 40px;
  }
}

@media only screen and (max-width: 600px) {
}

@media only screen and (max-width: 480px) {
}

@media only screen and (max-width: 400px) {
}

@media only screen and (max-width: 320px) {
}
